@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";
  --font-poppins: "Poppins", "sans-serif";
}

@layer base {
  body {
    @apply font-poppins text-[16px] tracking-[-0.03em] bg-neutral-950;
  }

  a {
    @apply no-underline;
  }

  img {
    @apply block max-w-full;
  }
}

@layer utilities {
  .nav-active {
    @apply text-red-800;
  }
  .container {
    @apply mx-auto max-w-[1252px] px-16 max-xl:px-10 max-lg:px-6 max-sm:px-4;
  }
}

html {
  scroll-behavior: smooth;
}

nav {
  color: #b45353;
}
